@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root{
    --primary-color:#42BCF2;
    --white:white;
    --black:black
}
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(250, 250, 250), rgba(141, 134, 240, 0.73)),
    url('./resources/background.jpg');
    /* background-size: 100%; */
    background-size:cover;
}

.nav_bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-bottom: 1px solid black ;
}

.nav_left_side{
    display: flex;
    align-items: center;
    /* gap: 0.2rem; */
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    width: 40%;

}
.nav_logo{
    height: 5rem;
    width: 5rem;
    margin-right: -0.5rem;
}

.nav_right_side{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.heading_link{
    text-decoration: none;
    color: var(--black);
}
.main_container {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main_container h1{
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

.main_container h3 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin: .5rem 0;
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


/*footer*/
.footer {
    background-color: transparent;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.footer-header {
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 1215px) {
    .main_container h1{
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }
    .main_container h3 {
        font-size: 2rem;
        font-weight: 500;
    }
}

@media screen and (max-width: 865px) {
    .main_container h1{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    .main_container h3 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .btn{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 573px) {
    .main_container h1{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    .main_container h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    .btn{
        font-size: 1rem;
    }
}

@media screen and (max-width: 383px) {
    .main_container h1{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
}