/* flex */
.hide{
    display: none;
}
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}
.flex-ai-center{
    align-items: center;
}
.flex-ai-flex-start{
    align-items:flex-start;
}
.flex-ai-flex-end{
    align-items: flex-end;
}
.flex-ai-baseline{
    align-items: baseline;
}
.flex-ai-stretch{
    align-items:stretch;
}
.flex-ai-space-around{
    align-items:space-around;
}
.flex-ai-space-between{
    align-items:space-between;
}
.flex-ai-space-evenly{
    align-items:space-evenly;
}
.flex-jc-center{
    justify-content: center;
}
.flex-jc-flex-start{
    justify-content:flex-start;
}
.flex-jc-flex-end{
    justify-content: flex-end;
}
.flex-jc-baseline{
    justify-content: baseline;
}
.flex-jc-stretch{
    justify-content:stretch;
}
.flex-jc-space-around{
    justify-content:space-around;
}
.flex-jc-space-between{
    justify-content:space-between;
}
.flex-jc-space-evenly{
    justify-content:space-evenly;
}
.flex-ac-center{
    align-content: center;
}
.flex-ac-flex-start{
    align-content:flex-start;
}
.flex-ac-flex-end{
    align-content: flex-end;
}
.flex-ac-baseline{
    align-content: baseline;
}
.flex-ac-stretch{
    align-content:stretch;
}
.flex-ac-space-around{
    align-content:space-around;
}
.flex-ac-space-between{
    align-content:space-between;
}
.flex-ac-space-evenly{
    align-content:space-evenly;
}
.flex-wrap{
    flex-wrap: wrap;
}


/* grid */

.grid {
    display: grid;
}

.transition {
    transition: .2s all;
}

.list-reset {
    list-style: none;
}

.fullwidth {
    width: 100%;
}