.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_sticky {
    position: sticky;
}

.position_fixed {
    position: fixed;
}

.top-0 {
    top: 0;
}

.top-10 {
    top: 10px;
}

.top-20 {
    top: 20px
}

.top-50 {
    top: 50px
}

.top-100 {
    top: 100px
}

.left-0 {
    left: 0;
}

.left-10 {
    left: 10px;
}

.left-20 {
    left: 20px
}

.left-50 {
    left: 50px
}

.left-100 {
    left: 100px
}

.right-0 {
    right: 0;
}

.right-10 {
    right: 10px;
}

.right-20 {
    right: 20px
}

.right-50 {
    right: 50px
}

.right-100 {
    right: 100px
}

.left-0 {
    left: 0;
}

.left-10 {
    left: 10px;
}

.left-20 {
    left: 20px
}

.left-50 {
    left: 50px
}

.left-100 {
    left: 100px
}

.bottom-0 {
    bottom: 0;
}

.bottom-10 {
    bottom: 10px;
}

.bottom-20 {
    bottom: 20px
}

.bottom-50 {
    bottom: 50px
}

.bottom-100 {
    bottom: 100px
}


.translate-m-lx-ly{
    transform: translate(-50%, -50%) !important;
}
.translate-m-lx-ry {
    transform: translate(-50%, 50%) !important;
}
