.slider_box{
    width: fit-content;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
}
.slider_box .value{
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-500);
}
.slider input {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--secondary-500);
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px var(--secondary-500);
}