:root {
    /*-----------COLOR--------------- */
    --primary-color: #B388EB;
    /* --secondary: #4B3F72; */
    --secondary-color:#119DA4;


    --primary_background: #d1b5f7;
    /* --secondary_background: #897cb4; */
    --secondary_background:#74e3e9;

    /* Primary Color Different Shades*/
    --primary-100: #f7f3fd;
    --primary-200: #e8dbf9;
    --primary-300: #d9c3f5;
    --primary-400: #c9abf1;
    --primary-500: #ba93ed;
    --primary-600: #8f6cbc;
    --primary-700: #6b518d;
    --primary-800: #47365e;
    --primary-900: #352846;

    /* Secondary Color Different Shades*/
    --secondary-100: #e7f5f5;
    --secondary-200: #b7e1e3;
    --secondary-300: #88ced1;
    --secondary-400: #58babf;
    --secondary-500: #28a6ad;
    --secondary-600: #0f8d93;
    --secondary-700: #0d7d83;
    --secondary-800: #0b6d72;
    --secondary-900: #0a5e62;

    /* Grey Color Different Shades*/
    --grey-color-100: #DBDBDB;
    --grey-color-200: #949494;
    --grey-color-300: #7D7C83;
    --grey-color-400: #474747;
    --grey-color-500: #282828;
    --grey-color-600: #232323;
    --grey-color-700: #171717;
    --grey-color-800: #111111;
    --grey-color-900: #090909;

    /* Information Color*/
    --success: #198754;
    --info: #0DCAF0;
    --warning: #FFC107;
    --danger: #DC3545;
    --light: #F8F9FA;
    --dark: #212529;

    /* Information Color Background*/
    --success_background: #D1E7DD;
    --info_background: #CFF4FC;
    --warning_background: #FFF3CD;
    --danger_background: #F8D7DA;
    --light_background: #FEFEFE;
    --dark_background: #D3D3D4;

/* --------Other Colors-----------*/
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #ffffff;
    --black:#000000;

    --border-radius: 25px;
    --font-weight-bold: bold;

    --badge-font-size: .75em;
    --badge-font-weight: --font-weight-bold;
    --badge-color: --white;
    --badge-padding-y: .35em;
    --badge-padding-x: .65em;
    --badge-border-radius: --border-radius;

}